<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>

    <nav class="navbar navbar-expand fixed-bottom container p-0 pt-2" style="background-color: #1ec5bc">
        <div class="row no-gutters justify-content-around w-100">

            <div onclick="feed">
            <a class=" col-2 justify-content-center text-center" id="feed"
               href="../feed.php">
                <i class="far fa-2x fa-newspaper"></i>
                <br/>
                <span class="texto-nav">Feed</span></div>
            </a>
            <a class="col-2  justify-content-center text-center" id="pesquisa"
               href="../pesquisa.html">
                <i class="fas fa-2x fa-search"></i>
                <br/>
                <span class="texto-nav">Pesquisa</span>
            </a>
            <a class="col-3  justify-content-center text-center" id="adicionar"
               href="meu_perfil.php">
                <i class="fas fa-2x fa-plus-circle"></i>
                <br/>
                <span class="texto-nav">Adicionar</span>
            </a>
            <a class="col-2  justify-content-center text-center" id="eventos"
               href="../eventos.php">
                <i class="far fa-2x fa-calendar-plus"></i>
                <br/>
                <span class="texto-nav">Eventos</span>
            </a>
            <a class="col-2  justify-content-center text-center" id="perfil"
               href="../perfil.php">
                <i class="far fa-2x fa-user"></i>
                <br/>
                <span class="texto-nav">Perfil</span>
            </a>
        </div>
    </nav>
    <div>
    </div>
</footer>



</body>
</html>