body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 330px;
    background-color: white;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.form-outer form {
    display: flex;
    width: 400%;

}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 20px;

}

.form-outer form .page .field {
    height: 45px;
    width: 330px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

.form-outer form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.form-outer form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightblue;
    font-size: 18px;
    padding-left: 15px;
}

.form-outer form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #1DBF73;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-outer form .page .field button:hover {
    background: black;
}

.form-outer form .page .btns button {
margin-top: -20px!important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;

}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
}

.container .progress-bar .step {
    position: relative;
    text-align: center;
    width: 100%;
}

.progress-bar .step p {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 8px;
    transition: 0.2s;
}

.progress-bar .step p.active {
    color: #1ec5bc;
}


.progress-bar .step .bullet{
    position: relative;
    height: 25px;
    width: 25px;
    border: 1px solid #1ec5bc;
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
}

.progress-bar .step .bullet.active {
    border-color: #1ec5bc;
    background: #1ec5bc;
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}


.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: "";
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #3e3f80;
}

.progress-bar .step .bullet.active:after {
    background: #1ec5bc;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress-bar .step .bullet span {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span{
    display: none;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 80%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: white;
}
