body {

    font-family: 'Muli', sans-serif !important;
    background-color: #EEF7F7 !important;
}

.texto-nav {
    font-size: 11px;
    color: white;
}

.navbar i.fa-newspaper, i.fa-search, i.fa-plus-circle, i.fa-calendar-plus, i.fa-user {
    font-size: 3.5vh;
}


i {
    color: white;
}

i.fa-chevron-right {
    color: #1ec5bc !important;
}

i.fa-chevron-circle-left {
    position: absolute;
    margin: 10px;
    z-index: 1000;
}

header {
    background-color: #1ec5bc;
    border-radius: 0 0 10px 10px;
    height: 2.8rem;
    padding-bottom: 0.5rem;
    padding-top: 0.4rem;
    padding-left: 1rem;
    color: white;
    width: 100%;
}

h4 {
    color: #4E6969;
}



a.tabs:active {
border-bottom: 2px solid #4E6969}

.card_horizontal {
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    line-height: 17px;
    margin-top: 5px;
    margin-bottom: 7px;
    color: #1ec5bc;
    border: none;
    /*text-align: center;*/

    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
}

.img_card_stats {
    max-width: 40%;
    border: white 3px solid;
    margin-left: -20px;
}

.tab-content{
    padding-right: 0;
    padding-left: 0;
}

.imgs-stats{
    display: flex;
}

.img_historico {
    width: 100%;
    height: 10%;
}

.titulo_card_historico {
color: #4E6969;
margin: 0;
}

.texto_card_historico {
    color: #4E6969;
    font-size: 13px;
    margin: 0;
    line-height: 14px;

}

.icone_categoria {
  height: 17px;

}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}


.small_feed {
    color: #4E6969;
    font-size:10px;
}

.card_vertical {
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 7px;
    border: none;
    height: 14rem;
    color: #4E6969; !important;

}

.linkar{
    color: #4E6969; !important;
}

.texto_card_eventos {
    line-height: 15px;
}

.titulo_card_eventos {
    line-height: 18px;
}

.pesquisa {
    width: 90%;
    margin: auto;
}

.texto_form_pesquisa {
    font-size: 12px;
}

.texto_pesquisa {
    color: #4E6969;
    font-size: 15px;
}

.titulo_evento {
    color: #4E6969;
    font-weight: bold;
}

.texto_descricao_evento {
    font-size: 15px;
    color: #4E6969;
}

i.fa-map-marker-alt {
    color: #1ec5bc !important;
}

i.fa-calendar-alt {
    color: #1ec5bc !important;
}

.botao_grande {
    background-color: #3e3f80;
    color: white;
    text-align: center;
    width: 80%;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.33);
    border-radius: 10px;
}

.superior_redondo {
    z-index: 1000;
    margin-top: -50px;
    position: absolute;
    border-radius: 20px 20px 0 0;
    background-color: #EEF7F7;
    width: 100%;
}

.info_evento {
    margin-top: 0;
    padding: 0;
    line-height: 9px;
}

.alinhamento_icones {
    align-items: baseline;
}

.imagem {
    height: 31vw;
    background-image: url("imagens/evento1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inicio {
    margin-top: 25vh;
}



#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 85%;
    left: 52%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-decoration: none;
}

.overlay_icone {
    background-color: white;
    border: #1ec5bc 1px solid;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    color: #1ec5bc;
    height: 8vh;
    text-decoration: none;
}

.overlay_icone .fa-clone {
    font-size: 3.5vh;

}

.icone {
    color: #1ec5bc;
    padding-top: 8px;
}

.add {
    display: contents;
}

/*timeline*/

.order-timeline {
    margin-left: 16px;
}

.timeline-object:not(.complete) .timeline-status {
    background-color: #fff;
    border: 4px solid #C5C5C5;
}

.timeline-object:not(.complete) .timeline-p h1 {
    color: #8A8A8A;
    background-color: #DBDBDB;
}

.timeline-object {
    display: flex;
    margin-top: 45px;
    position: relative;
}

.timeline-object.complete::after {
    content: '';
    display: block;
    position: absolute;

    width: 2px;
    height: 250px;
    background-color: #3e3f80;

    left: 12px;
    top: 23px;
    transform: translateX(-50%);
}

.timeline-status {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #3e3f80;
}

.timeline-p {
    margin-left: 15px;
}

.timeline-p h1 {
    font-size: 22px;
    color: #1DBF73;
    background: #B4FFDC;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.timeline-p .fotografias {
    color: #3e3f80;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    padding: 15px;
    border: 1px solid #3e3f80;
    border-radius: 10px;
}

.timeline-p .hora {
    color: #3e3f80;
    font-size: 16px;
    font-weight: 500;
    padding: 7px;
    border: 1px solid #3e3f80;
    border-radius: 10px;
    width: 60px;
    margin-bottom: 10px;
}

.img_timeline {
    width: 35px;
    height: 35px;
}

/*fim timeline*/


.gm-style .gm-style-iw-c {
    overflow: hidden; !important;
    padding: 0; !important;
}

.gm-style .gm-style-iw {
    max-height: 475px;
    height: 43vh;
    width: 32VH;

}

.ok{
    height: 25vh;
    line-height: 1.35; !important;
    overflow: hidden; !important;
    white-space: nowrap; !important;
}

.linkar_branco{
    color: #ffffff; !important;
    text-decoration: none;
}

.botao_favorito{
    background-color: #3e3f80;
    height: 26px;
    width: 26px;
    line-height: 26px;
    border-radius: 50%;
    padding: 0;
    border-top-width: 0px;
    border-right-width: 0;
}

.alinhar_fav{
    text-align: end;
}

#edit {
    background-color: #1ec5bc !important;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 0;
    border-top-width: 0px;
}

.alinhar_fav{
    text-align: end;
}

/*STEPPER*/

.button_stepper {
    padding: 5px 10px;
    background-color: #3e3f80;
    border: none;
    color: white;
    transition: 250ms background-color;
    border-radius: 15px;
    text-align: center;

}

.button_stepper:disabled {
    background-color: lightgrey;
}

.button_stepper:hover {
    cursor: pointer;
}

.button_stepper:disabled:hover {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: grey;

}
.stepper .title {
    color: #4E6969;
    font-size: 17px;
}

.stepper .label {
    font-size: 14px;
    color: #4E6969;
    margin-bottom: 0.3rem;
}

.text-center {
    text-align: center;
}

.botoes_stepper {
    text-align: center;

}

#stepProgressBar {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 1rem;
}

.step {
    text-align: center;
}


.bullet {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid #3e3f80;
    color: #3e3f80;
    display: inline-block;
    position: relative;
    transition: background-color 500ms;
    font-size: 22px;
}

.passo_atual {
    color: white;
    background-color: #1ec5bc;
    border: 1px solid #1ec5bc;

}


.bullet.completed::after {
    content: "";
    position: absolute;
    width: 85px;
    height: 1px;
    background-color: #1ec5bc;
    right: -89px;
    bottom: 16px;
}


.campos_form_criarevento {
    -webkit-box-shadow: 7px 5px 21px -8px rgba(0,0,0,0.34);
    -moz-box-shadow: 7px 5px 21px -8px rgba(0,0,0,0.34);
    box-shadow: 7px 5px 21px -8px rgba(0,0,0,0.34);
    border: none;
    border-radius: 5px;
    margin-bottom: 0.7rem;
    width: 90%;
}

.campo_data_hora {
    width: 130px;
    font-size: 12px;
    background-color: white;
}

.campo_descricao {
    padding-bottom: 15px;
}

#toggle1 {
    margin: 1rem;
    margin-left: 10%;
}

#toggle2 {
    margin: 1rem;
}

#toggle3 {
    margin: 1rem;
}

.radio {
    text-align: center;
}

/*FIM STEPPER*/

.uploads {
    background-color: #4E6969;
    width: auto;
    height: 10vh;
    border-radius: 10px;
    opacity: 65%;
    color: white;
    text-align: center;
}

.afteruploads {
    width: auto;
    height: 10vh;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.socorro{
    background-color: #1ec5bc;
    border-radius: 10px;
    color: white;
    width: 30vw;
    height: 6vh;
    border-color: transparent;
}

.formularioupload{
        text-align: center;

}

.modalupload{
        padding: 2rem 1rem !important;
}

.caixa {
    height: 150px;
    position: absolute;
    border-radius: 20px 20px 0 0;
    background-color: #EEF7F7;
    width: 100%;
}

.comentarios {
          visibility: hidden;
}

.comentario {
    background-color: white;
    border-radius: 10px;
    width: 90%;
   -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
   -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
   box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
}

.visualizacao {
    height: 555px;
}

.header_comentarios .col-2 {
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.header_comentarios small {
    color: #4E6969;
}

.header_comentarios p {
    font-size: 13px;
}

.numero_likes {
    line-height: 26px;
}

.header_comentarios .fa-map-marker-alt {
    color: #1ec5bc;
    font-size: 14px;
}

.relacionados {
    background-color: #3e3f80;
    border-radius: 10px;
    color: white;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.fa-angle-double-up {
    color: #3e3f80;
    margin: 0;
    padding: 0;
}

.comentario .nome_comentario {
    color: #4E6969;
    font-size: 15px;
}

.comentario p {
    color: #4E6969;
    font-size: 13px;
}

.imagem_carregamento{
    width: 40%;
    border-radius: 10px;
    margin-top: -22px;
}

.mais {
    color: #03bd03;
}

.inicio_evento {
    color: #3e3f80;
    font-size: 16px;
    font-weight: 500;
    padding: 7px;
    border: 1px solid #3e3f80;
    border-radius: 10px;
    width: 150px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
}

.add_comentario {
    background-color: #3e3f80;
    border-radius: 20px 20px 0 0;
    height: 11vh;
}