.sobe_desce {
    background-color: #03bd03;
    border-radius: 20px 20px 0 0;
    height: 150px;
}

.caixa_comentarios {
    visibility: hidden;
}

.comentario {
    background-color: white;
    border-radius: 5px;
}